.App {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #58B09C;
  color: #4A442D;
  height: 100vh;
  font-size: 8rem;
  font-weight: 600;
}

.button {
  margin-right: 20px;
  padding: 50px;
  background-color: #CAF7E2;
}